:root{
  --sombra: inset 0px 0px 12px #07070760;
}

.cont-container {
  margin: 0 auto;
  width: 250px;
  height: 90vh;
  position: relative;
  padding-top: 100px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.carousel {
  height: fit-content;
  width: 250px;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
}
.carousel div {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: fit-content;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: auto;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 1s;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
}
.a .item {
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
}
.b .item {
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px)  rotateY(-120deg);
}
.c .item {
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
}
.d .item {
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
} 
.e .item {
  background: #630460;
}
.f {
  transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
}
.f .item {
  background: #8c6239;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }

@media screen and (max-width: 768px) {
      .item{
        width: 150px;
    }
    .carousel{
      width: 150px;
    }
    .cont-container{
      display: flex;
      justify-content: center;
      height: 60vh;
    }
    .demora .lado-esquerdo span{
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .demora .lado-esquerdo .lista i{
      border-radius: 50%;
      border: 3px solid var(--laranja);
      height: 80px;
      aspect-ratio: 1 / 1;
      display: flex;
        align-items: center;
        justify-content: center;
    }
    .demora .lado-esquerdo .lista i::before{
      font-size: 50px;
      text-shadow: var(--sombra);
    }
    .demora .lado-esquerdo .lista strong{
      text-align: center;
    }
    .demora .lado-esquerdo .lista i{
      box-shadow: var(--sombra);
    }
}