*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
    font-family: "Sora", sans-serif;
    color: white;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: whitesmoke;
    height: auto;
}
.center{
    width: 56%;
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
}
.banner{
    padding: 0px 20px;
    top: 0;
    width: 100%;
    position: absolute;
    background: url("banner.png");
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px;
}
.hero p{
    font-size: 17px;
    font-weight:100;
}
.left .listas{
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.856);
}
.left .listas .lista{
    align-items: center;
    padding: 10px;
    display: flex;
}
.left .listas .lista i{
    padding-right: 15px;
    color: rgb(235, 160, 0);
}
.left{
    padding: 30px 0px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.left strong{
    color: rgb(235, 160, 0);
}
.left img{
    width: 50%;
}
.satisfeitos span{
    font-size: 30px;
    color: orange;
    font-weight: 700;
}
.cta i{
    padding-left: 10px;
}
.cta{
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    border: 3px solid #0A4F2A;
    text-decoration: none;  
    padding: 15px 30px;
    justify-content: center;
    background: linear-gradient(to right,green, rgb(35, 201, 35),rgb(12, 202, 12));
}
.prova-social{
    background: whitesmoke;
    height: 420px;
    padding: 20px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.prova-social .content{
    border-radius: 10px;
    width: 100%;
    height: 480px;
    background: whitesmoke;
    position: absolute;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}
.prova-social .content h2 strong{
    color: black;
    font-weight: bold;
}
.prova-social .content h2{
    font-weight: 100;
    font-size: 2rem;
    padding: 30px 0px;
    color: rgb(39, 39, 39);
}
.container-carrosel{
    height: auto;
    width: 100%;
    position: relative;
    overflow-x: hidden;
        display: flex;
    justify-content: space-between;
    align-items: flex-start;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}
.prova-social .content .rating{
    width: 12%;
    height: auto;
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px;
}
.carrosel{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    animation: scroll 30s linear infinite;
    width: auto;
    height: 100%;
}
@keyframes scroll {
    0% {
    transform: translateX(0);
}

100% {
    transform: translateX(calc(-250px * 5));
}
}
.carrosel .carro{
    margin: 0px 10px;
    padding: 20px 20px;
    border-radius: 15px;
    color: white;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 350px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.103);
}
.carrosel .carro .titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.carrosel .carro .titulo .info .perfil{
    width: 40px;
    height: auto;
}
.carrosel .carro .titulo .info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.carrosel .carro p{
    font-size: 0.8rem;
    color: black;
}
.carrosel .carro h4{
    color: black;
}

.carrosel .carro .google{
    position: relative;
}
.carrosel .carro .google a{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}
.second .sub{
    text-align: center;
    color: black;
    width: 50%;
}
.second h1{
    text-align: center;
    font-weight: 100;
    color: black;
}
.second .sub{
    font-size: 1.3rem;
    color: rgb(71, 71, 71);
}
.second .sub, .second h1{
    padding-bottom: 50px;
}
.second h1 strong{
    font-weight: bold;
    color: black;
}
.second .cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.second .cards .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    aspect-ratio: 1/1;
    border-radius: 10px;
    width: 48%;
    overflow: hidden;
    margin-bottom: 20px;
    background-image: linear-gradient(149deg, #03060E 0%, #1F3057 100%);
}
.second .cards .card .titulos p{
    font-size: 20px;
    color: thistle;
}
.second .cards .card .titulos{
    display: flex;
    min-height: 40%;
    width: 100%;
    padding: 0px 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.second .cards .card .titulos .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.second .cards .card .titulos .icon span{
    background:green;
    padding: 7px 7px;
    font-size: 25px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
}
.second .cards .card .titulos .icon i{
    color: white;
}

.second .cards .card img{
    width: 100%;
}
@media screen and (max-width: 768px) {
    .center{
        width: 90%;
    }
    .second .cards .card{
        width: 100%;
    }
    .second .cards .card{
        aspect-ratio: auto;
    }
    .second .cards .card .titulos .icon{
        padding-top: 20px;
    }
    .second .cards .card .titulos p{
        font-size: 100%;
        padding-bottom: 20px;
    }
}